body {
    background-size: 100% 100%;
    background: linear-gradient(to top, #fefcea, rgba(173, 236, 117, 0.6));
}
.header-block {
    font-family: Caveat-Bold;
}
.header-block {
    font-size: 45px;
    border-bottom-width: 50px;
    box-shadow: 0px 10px 10px -10px #539da5;
}
.header-block > span:first-child{
    color: #806430;
}
.header-block > span:last-child {
    color: #458013;
}

.home-block__search-city {
    box-shadow: 0px 10px 10px -10px #56a52a;
}

