@font-face {
    font-family: Lato-Light;
    src: url(../fonts/9625.ttf);
}
@font-face {
    font-family: Caveat-Bold;
    src: url(../fonts/18449.ttf);
}
@font-face {
    font-family: Hisqaida;
    src: url(../fonts/17796.ttf);
}